#项目名称
机器学习识别用户的行为
#项目要求

根据app生成的记录利用机器学习来得到一个模型来识别,用户的行为是在刷视频还是刷无限流信息还是其他行为

realdata文件夹里面是app记录的用户的手势.我想要通过一个机器学习训练一个模型,来识别用户的browsing_mode.其中browsing_mode=1是表示用户在刷视频.browsing_mode=2表示用户在刷一些无限流信息,但是不包括视频. browsing_mode=3表示用户在进行其他行为. 